@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

html, body{
    box-sizing: border-box;
    background-image: url('https://cdn.hipwallpaper.com/i/86/68/PUrYSz.jpg');

    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#app h1{
    display: flex;
    justify-content: center;
    font-size: 4em;
}

.main-app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.main-app form{
    margin-bottom: 5%;
}

.search-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-imput:focus{
    border: solid #51d4eb;
}

.search-input{
    width: 18em;
    height: 3em;
    font-size: 2em;
    border: solid blueviolet;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.get-results--button{
    transition: 1s;
    color: #fff;
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    cursor: pointer;
}

.get-results--button:hover{
    transition: 1s;
    background-color: red;
        
}

#results{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

#results img:hover{
   transform: scale(2);
   transition: 1s;
}
